
#color-box{
    height: 5rem;
    padding: 5rem;
    color:red;
   
    
}

#winning-color{
    font-size: 20px;
    padding:1rem;
}

#rainbow-gif{
    width: 9rem;
}

#color-container{
    padding-top: 3rem;
}

.color-picker{
    height : 4rem;
    padding: 1rem;
    
}



.betting-boxes{
    margin-top: 3rem;
}

#push-button{
    height : 5rem;
    padding: 1rem;
    margin: 3rem;
}

.intro{
    height:5rem;
    font-size: 20px;
}



@media only screen and (min-width: 1920px) {
    .color-picker{
        height : 7rem;
        padding: 3rem;
    }
}
