.cards{
    width: 70%;
}
.player-cards{
    margin: 5%;
    
}

.player-text{
    font-size: 50%;
}



.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.header{
    padding: 20% 0 5% 0;
}