

body{
    background-image: url("images/catbg.jpeg");
    background-position:bottom;
    background-repeat: no-repeat; 
    background-size: 10% ; 
    background-color: antiquewhite;
    margin-top : 70px ;
    margin-bottom: 100px;
    padding-bottom: 30px;
    text-align: center;
    
 
}



#move-input{
    padding : 50px;
}

#pick , #score {
    display: flex;
    justify-content: space-evenly;
   
}

#results {
    padding: 30px;
}