/* for macbook air screen*/
body{
    background-image: url("images/3bebes.jpg");
    background-position:bottom;
    background-repeat: no-repeat; 
    background-size: 10% ; 
    background-color: antiquewhite;
    margin-top : 20px ;
    margin-bottom: 180px;
    padding-bottom: 20px;
    text-align: center;
    display:flexbox;
    font-size: 15px;
    
}

img{
    height : 150px ;
    width : auto ;
}

img:hover {
    height : 170px ;
    width : auto ;
    
}
#computerFighterPic{

    height : 160px ;
    width : auto ;
}

#computer-pick, #computer-score{
margin-right: -60px;
}

#header{
padding-bottom :50px;
padding-top :20px;
}

#pick , #score {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px; 

}

#results {
    padding: 30px;
}

#rps-pick {
    display: flex;
    justify-content: space-between;
    padding-left: 220px;
    padding-right:340px;
}

/*
@media screen and (max-width: 600px) {
    html{
        width:100%;
        height:100%;
    }


    body {
        background-size: 30% ;
        font-size: 12px;
         
    }

    #player-fighter{
        display: block;
        margin-right: 60px;
       
    }

    #header {
        font-size: 10px;
    }

    img{
        height : 100px ;
        width : auto ;
    }
    
    img:hover {
        height : 103px ;
        width : auto ;  
    }

    #computerFighterPic{
        height : 100px ;
        width : auto ;
    }

    #computer-pick, #computer-score{
        margin-right: 10px;
        m
    }

    #pick , #score {
        display: flex;
        justify-content: space-evenly;
        margin-left: -80px; 
    
    }
    
  }
  */